* {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

p {
	font-size: 18px;
	color: #e5e7eb;
}

body {
	display: flex;
}

.header {
	background-color: #1f2937;
	flex-grow: 1;
}

.header-block {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 130px;
	padding-right: 130px;
	align-items: center;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: bold;
}

.links {
	display: flex;
	font-size: 18px;
	color: #e5e7eb;
	gap: 30px;
}

.header-content {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	padding-left: 130px;
	padding-right: 130px;
	padding-bottom: 80px;
	gap: 180px;
}

.header-content-block {
	display: flex;
	flex-direction: column;
}

button {
	width: 100px;
	height: 30px;
	text-align: center;
	background-color: #3882f6;
	border-radius: 5px;
	border-style: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
}

.header-content-block h1 {
	font-size: 48px;
	color: #f9faf8;
	font-weight: bold;
}

img {
	border-radius: 5px;
}
